<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/" data-no-hoverflow>
                <span><img src="{{ "/assets/img/frenzybyte_logo_alpha.png" | relative_url }}" alt="Logo"></span> {{ site.title }}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if page.sectionid=='docs' %} class="active" {% endif %}><a href="{{ "/docs/index/" | relative_url }} " data-no-hoverflow>Docs</a></li>
                <li {% if page.sectionid=='changelog' %} class="active" {% endif %}><a href="{{ "/changelog/index/" | relative_url }}" data-no-hoverflow>Changelog</a></li>
                <li {% if page.sectionid=='demo' %} class="active" {% endif %}><a href="{{ "/demo/index/" | relative_url }}" data-no-hoverflow>Demos</a></li>
                <!--<li {% if page.sectionid=='blog' %} class="active" {% endif %}><a href="{{ site.posts.first.url | relative_url }}">Blog</a></li>-->
            </ul>
            <div class="navbar-right">
                <form class="navbar-form navbar-left">
                    <div class="form-group has-feedback">
                        <input id="search-box" type="search" class="form-control" placeholder="Search...">
                        <i class="fa-solid fa-magnifying-glass form-control-feedback"></i>
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li><a href="{{ site.unityasset_address }}"><i class="fa-brands fa-unity" aria-hidden="true"></i></a></li>
                    <li><a href="{{ site.discord_address }}"><i class="fa-brands fa-discord" aria-hidden="true"></i></a></li>
                    <li><a href="{{ site.youtube_address }}"><i class="fa-brands fa-youtube" aria-hidden="true"></i></a></li>
                    <li><a href="{{ site.twitter_address }}"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="{{ site.reddit_address }}"><i class="fa-brands fa-reddit" aria-hidden="true"></i></a></li>
                    <li><a href="{{ site.git_address }}"><i class="fa-brands fa-github" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
