---
layout: default-nosearch
---
<style>


.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Default to 1 column for portrait */
    grid-gap: 20px;
    width: 75%;
    margin: 0 auto;
    justify-content: center; /* Center the grid container horizontally */
}

/* For landscape orientation, change to 2 columns and 2 rows */
@media (orientation: landscape) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


.grid-item a {
    display: block;
}

.grid-item img {
    width: 100%;
    height: auto;
}
</style>
<div class="grid-container">
<div class="grid-item">
    <a href="https://frenzy-byte.itch.io/fluid-frenzy-demo-forest" data-no-hoverflow>
    <img src="../../assets/images/demos/forest_demo_thumb.jpg" alt="Image 1">
    </a>
    A Windows demo made with URP containing a small forest scene with a river and waterfall.
</div>
<div class="grid-item">
    <a href="{{ "/demo/sculptdemo.html" | relative_url }}" data-no-hoverflow>
    <img src="../../assets/images/demos/sculpt_demo_thumb.jpg" alt="Image 2">
    </a>
    A WebGL demo made with URP using magic spells to terraform the world by transforming fluids and terrain.
</div>
<div class="grid-item">
    <a href="{{ "/demo/fossilfinderdemo.html" | relative_url }}" data-no-hoverflow>
    <img src="../../assets/images/demos/fossilfinder_demo_thumb.jpg" alt="Image 2">
    </a>
    A WebGL demo made with URP and the hydraulic erosion feature to uncover a ancient dinosaur fossil.
</div>
<div class="grid-item">
    <a href="{{ "/demo/curvedworlddemo.html" | relative_url }}" data-no-hoverflow>
    <img src="../../assets/images/demos/curvedworld_demo_thumb.jpg" alt="Image 2">
    </a>
    A WebGL demo made with URP and Curved World asset to create a god game on a planet using the terraform feature.
</div>
<div class="grid-item">
    <a href="{{ "/demo/samplesdemo.html" | relative_url }}" data-no-hoverflow>
    <img src="../../assets/images/demos/terraform_demo_thumb.jpg" alt="Image 3">
    </a>
    A WebGL demo that contains the samples project of the asset.
</div>
</div>
