---
layout: default-nosearch
---
<style>
.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Default to 1 column for portrait */
    grid-gap: 20px;
    width: 75%;
    margin: 0 auto;
    justify-content: center; /* Center the grid container horizontally */
}

/* For landscape orientation, change to 2 columns */
@media (orientation: landscape) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Style for the video wrapper to maintain aspect ratio */
.video-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

/* Make the iframe fill the wrapper */
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Style for the description text below each video */
.video-footer {
    padding-top: 2px;
}
</style>

<div class="grid-container">
  <div class="grid-item">
    <div class="video-wrapper">
      <iframe src="https://www.youtube.com/embed/SA8n0-O2maE?si=XP8iUo60pusEYAT4" title="YouTube video player" allowfullscreen></iframe>
    </div>
    <div class="video-footer">
      URP demo showcasing using Fluid Frenzy in a playable environment.
    </div>
  </div>
  <div class="grid-item">
    <div class="video-wrapper">
      <iframe src="https://www.youtube.com/embed/8szrgQICLgA?si=8gbIQQXki-8-REp2" title="YouTube video player" allowfullscreen></iframe>
    </div>
    <div class="video-footer">
      URP demo showcasing planet using terraform functionality and integration with the Curved World asset.
    </div>
  </div>
  <div class="grid-item">
    <div class="video-wrapper">
      <iframe src="https://www.youtube.com/embed/g_8craxXUjY?si=QjBxmggrLiZjOV2r" title="YouTube video player" allowfullscreen></iframe>
    </div>
    <div class="video-footer">
      BiRP demo showcasing GPU-accelerated particles spawned by the fluid simulation.
    </div>
  </div>
  <div class="grid-item">
    <div class="video-wrapper">
      <iframe src="https://www.youtube.com/embed/JmeoHjpRJTg?si=OUxVZ2uRv5AaTDCQ" title="YouTube video player" allowfullscreen></iframe>
    </div>
    <div class="video-footer">
      BiRP demo showcasing integration with the Curved World asset.
    </div>
  </div>  
  <div class="grid-item">
    <div class="video-wrapper">
      <iframe src="https://www.youtube.com/embed/JnYvGHCxrV4?si=5aye5C6fyus65-pP" title="YouTube video player" allowfullscreen></iframe>
    </div>
    <div class="video-footer">
      BiRP demo showcasing a sandbox using the terraform functionality.
    </div>
  </div>  
  <div class="grid-item">
    <div class="video-wrapper">
      <iframe src="https://www.youtube.com/embed/fy1m1hLMc-Q?si=xChJjHPOuGscOBLj" title="YouTube video player" allowfullscreen></iframe>
    </div>
    <div class="video-footer">
      BiRP demo showcasing interaction with the fluid simulation.
    </div>
  </div>  
</div>
